/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  transition: background-color 0.3s;
}

body.dark-theme {
  background-color: #121212;
}
